Repository latisnere77/SuplementIA: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, tsc --noEmit, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "tsc --noEmit"
  ],
  "*.{js,jsx,ts,tsx,json,css,md}": [
    "prettier --write"
  ]
}

fix(search-service): include alternativeMatches for variant detection
  lib/search-service.ts
Due: eslint --fix, tsc --noEmit, prettier --write

feat: integrate LanceDB vector search and fix variant selector
  app/[locale]/portal/results/page.tsx
  app/api/test-lancedb/route.ts
  backend/lambda/search-api-lancedb/lambda_function.py
  lib/lancedb-service.ts
  lib/portal/job-store.ts
  lib/search-service.ts
  next.config.js
  package-lock.json
  package.json
Due: eslint --fix, tsc --noEmit, prettier --write

fix: add missing LanceDB dependencies and fix Amplify build errors
  .serena/memories/HOSTING-INFRASTRUCTURE.md
  .serena/memories/SuplementAI Deployment Architecture.md
  backend/lambda/search-api-lancedb/lambda_function.py
  lib/search-service.ts
  package-lock.json
  package.json
  test-lancedb-connection.js
  tsconfig.tsbuildinfo
Due: eslint --fix, tsc --noEmit, prettier --write

fix: use dynamic import in test-lancedb endpoint
  app/api/test-lancedb/route.ts
Due: eslint --fix, tsc --noEmit, prettier --write

fix(variant-selector): update recommendation instead of triggering new search
  app/[locale]/portal/results/page.tsx
Due: eslint --fix, tsc --noEmit, prettier --write

fix(variant-selector): remove undefined fullName property reference
  app/[locale]/portal/results/page.tsx
Due: eslint --fix, tsc --noEmit, prettier --write

fix(variant-selector): also update studies.total field
  app/[locale]/portal/results/page.tsx
Due: eslint --fix, tsc --noEmit, prettier --write

fix(variant-selector): handle undefined studyCount with fallback to 0
  app/[locale]/portal/results/page.tsx
Due: eslint --fix, tsc --noEmit, prettier --write

feat(autocomplete): upgrade to LanceDB vector search for better coverage
  lib/portal/autocomplete-suggestions-fuzzy.ts
Due: eslint --fix, tsc --noEmit, prettier --write

fix(search): prevent vitamin search mismatches with comprehensive mappings and semantic filtering
  .serena/memories/vitamin-search-normalization-bug-fix.md
  lib/portal/query-normalization/normalizer.ts
Due: eslint --fix, tsc --noEmit, prettier --write

build: add LanceDB update to Amplify build process
  amplify.yml
Due: none

build: add package.json and package-lock.json to Git
  package-lock.json
  package.json
Due: prettier --write

fix: add missing src/i18n configuration for next-intl
  src/i18n/navigation.ts
  src/i18n/request.ts
  src/i18n/routing.ts
Due: eslint --fix, tsc --noEmit, prettier --write

fix(vitamins): add Vitamin C and D to LanceDB autocomplete
  amplify.yml
  lib/portal/supplements-database.ts
  scripts/add-vitamins-c-d-to-lancedb.ts
  scripts/enrich-lancedb-autocomplete.ts
Due: eslint --fix, tsc --noEmit, prettier --write

docs: initialize project planning artifacts
  .planning/PROJECT.md
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/config.json
Due: prettier --write

docs(01): capture phase context from browser audit
  .planning/phases/01-search-backend-fix/01-CONTEXT.md
Due: prettier --write

docs(01): add validation strategy
  .planning/phases/01-search-backend-fix/01-VALIDATION.md
Due: prettier --write

docs(01): phase 1 plans with DATABASE resolver fix
  .planning/phases/01-search-backend-fix/01-01-PLAN.md
  .planning/phases/01-search-backend-fix/01-02-PLAN.md
Due: prettier --write

feat(01-01): deduplicate DATABASE and create Spanish-to-English resolver
  jest.config.js
  lib/portal/resolve-supplement-name.test.ts
  lib/portal/resolve-supplement-name.ts
  lib/portal/supplements-database.ts
  package-lock.json
  package.json
Due: eslint --fix, tsc --noEmit, prettier --write

feat(01-01): wire resolver into recommend route and fix error handling
  app/api/portal/enrich-v2/route.test.ts
  app/api/portal/enrich-v2/route.ts
  app/api/portal/recommend/route.test.ts
  app/api/portal/recommend/route.ts
Due: eslint --fix, tsc --noEmit, prettier --write

docs(01-01): complete search backend fix plan
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/01-search-backend-fix/01-01-SUMMARY.md
Due: prettier --write

test(01-02): add failing tests for lexicon generator
  lib/services/lexicon-generator.test.ts
Due: eslint --fix, tsc --noEmit, prettier --write

feat(01-02): generate SUPPLEMENT_LEXICON from database and update pubmed-search
  lib/services/lexicon-generator.test.ts
  lib/services/lexicon-generator.ts
  lib/services/pubmed-search.ts
Due: eslint --fix, tsc --noEmit, prettier --write

test(01-02): add exhaustive coverage and integration tests
  lib/services/__tests__/lexicon-coverage.test.ts
  lib/services/__tests__/search-integration.test.ts
Due: eslint --fix, tsc --noEmit, prettier --write

docs(01-02): complete lexicon expansion plan
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/01-search-backend-fix/01-02-SUMMARY.md
Due: prettier --write

docs(phase-01): complete phase execution
  .planning/STATE.md
  .planning/phases/01-search-backend-fix/01-VERIFICATION.md
Due: prettier --write

docs(02): add phase context with scope decisions
  .planning/phases/02-internationalization-fix/02-CONTEXT.md
Due: prettier --write

docs(phase-02): research internationalization fix phase
  .planning/phases/02-internationalization-fix/02-RESEARCH.md
Due: prettier --write

docs(phase-2): add validation strategy
  .planning/phases/02-internationalization-fix/02-VALIDATION.md
Due: prettier --write

docs(02-internationalization-fix): create phase 2 plans
  .planning/ROADMAP.md
  .planning/phases/02-internationalization-fix/02-01-PLAN.md
  .planning/phases/02-internationalization-fix/02-02-PLAN.md
  .planning/phases/02-internationalization-fix/02-03-PLAN.md
Due: prettier --write

docs(03): capture phase context
  .planning/phases/03-categories-links-audit/03-CONTEXT.md
Due: prettier --write

docs(state): record phase 3 context session
  .planning/STATE.md
Due: prettier --write

docs(03): research categories & links audit phase
  .planning/phases/03-categories-links-audit/03-RESEARCH.md
Due: prettier --write

docs(phase-3): add validation strategy
  .planning/phases/03-categories-links-audit/03-VALIDATION.md
Due: prettier --write

docs(03-categories-links-audit): create phase 3 plans
  .planning/ROADMAP.md
  .planning/phases/03-categories-links-audit/03-01-PLAN.md
  .planning/phases/03-categories-links-audit/03-02-PLAN.md
  .planning/phases/03-categories-links-audit/03-03-PLAN.md
Due: prettier --write

test(03-02): add failing CAT-01 tests for slug mismatch corrections
  lib/__tests__/categories-links-audit.test.ts
Due: eslint --fix, tsc --noEmit, prettier --write

feat(03-02): fix 5 slug mismatches in knowledge-base.ts to match SUPPLEMENTS_DATABASE base IDs
  lib/knowledge-base.ts
Due: eslint --fix, tsc --noEmit, prettier --write
