Repository latisnere77/SuplementIA: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, tsc --noEmit, prettier --write

feat: update intelligent search spec with LanceDB architecture
  .kiro/specs/intelligent-supplement-search/design.md
  .kiro/specs/intelligent-supplement-search/tasks.md
Due: prettier --write

Fix: Properly map enriched content to frontend expected structure
  app/api/portal/recommend/route.ts
  app/portal/results/page.tsx
Due: eslint --fix, tsc --noEmit, prettier --write

fix: use real Lambda data instead of demo mode
  app/api/portal/quiz/route.ts
  lib/portal/search-analytics/analytics.ts
Due: eslint --fix, tsc --noEmit, prettier --write

fix: stabilize jobId across renders to prevent error after success
  app/portal/results/page.tsx
Due: eslint --fix, tsc --noEmit, prettier --write

feat: increase studies to enricher from 3 to 8
  app/api/portal/enrich-v2/route.ts
Due: eslint --fix, tsc --noEmit, prettier --write

fix: increase enrich timeout to 100s to prevent urolithin-type failures
  app/api/portal/recommend/route.ts
Due: eslint --fix, tsc --noEmit, prettier --write

feat: add evidence grade legend (A-F explanation)
  components/portal/WorksForSection.tsx
Due: eslint --fix, tsc --noEmit, prettier --write

fix: add exact name search before vector search to fix NAC results
  backend/lambda/search-api/lambda_function.py
  lib/portal/query-normalization/normalizer.ts
Due: eslint --fix, tsc --noEmit, prettier --write

feat: ordenar evidencia científica por grado (A→F) en WorksForSection
  .gitignore
  components/portal/WorksForSection.tsx
Due: eslint --fix, tsc --noEmit, prettier --write

fix: remove stopPropagation from search button to enable form submit
  app/portal/page.tsx
Due: eslint --fix, tsc --noEmit, prettier --write

fix: correct NAC search returning wrong supplement
  app/api/portal/search/route.ts
  lib/portal/query-normalization/normalizer.ts
  tsconfig.tsbuildinfo
Due: eslint --fix, tsc --noEmit, prettier --write

perf: optimize sync discovery system (Phase 1)
  tsconfig.tsbuildinfo
Due: none

fix: improve error messaging for PubMed timeout and add Spanish→English translation
  components/portal/ErrorState.tsx
Due: eslint --fix, tsc --noEmit, prettier --write

fix: propagate backend error messages to frontend
  app/portal/results/page.tsx
  lib/portal/supplement-search.ts
Due: eslint --fix, tsc --noEmit, prettier --write

chore: trigger Vercel deployment
  .vercel-deploy-trigger
Due: none

chore: trigger redeploy with NEXT_PUBLIC_USE_INTELLIGENT_SEARCH env var
  .vercel-deploy-trigger
Due: none

chore: force redeploy - enable intelligent search
  next.config.js
Due: prettier --write

debug: add console log to verify env var
  lib/portal/supplement-search.ts
Due: eslint --fix, tsc --noEmit, prettier --write

debug: add env check endpoint
  app/api/check-env/route.ts
Due: eslint --fix, tsc --noEmit, prettier --write

chore: trigger redeploy with corrected env var (no newline)
  .vercel-deploy-trigger
Due: none

fix: force rebuild of search API route endpoint
  app/api/portal/search/route.ts
Due: eslint --fix, tsc --noEmit, prettier --write

feat: add SEARCH_API_URL environment variable
  .vercel-deploy-trigger
Due: none

fix: update SEARCH_API_URL to correct Lambda Function URL
  .vercel-deploy-trigger
Due: none

fix: add server-side SEARCH_API_URL for runtime access
  .vercel-deploy-trigger
Due: none

debug: add SEARCH_API_URL to check-env endpoint
  app/api/check-env/route.ts
Due: eslint --fix, tsc --noEmit, prettier --write

debug: add logging to callSearchAPI function
  app/api/portal/search/route.ts
Due: eslint --fix, tsc --noEmit, prettier --write

fix: read SEARCH_API_URL at runtime instead of build time
  app/api/portal/search/route.ts
Due: eslint --fix, tsc --noEmit, prettier --write

debug: add test endpoint to verify Lambda connectivity
  app/api/test-lambda-direct/route.ts
Due: eslint --fix, tsc --noEmit, prettier --write

fix: remove incorrect SEARCH_API_URL env var
  .vercel-deploy-trigger
Due: none

chore: force rebuild to pick up env var changes
  .vercel-deploy-trigger
Due: none

fix: use NEXT_PUBLIC_SEARCH_API_URL with hardcoded fallback
  app/api/portal/search/route.ts
Due: eslint --fix, tsc --noEmit, prettier --write

feat: Implement benefit-specific search MVP
  .gitignore
  .vercelignore
  app/api/portal/enrich-v2/route.ts
  app/api/portal/quiz/route.ts
  app/api/portal/recommend/route.ts
  app/api/portal/search/route.ts
  app/portal/page.tsx
  app/portal/results/page.tsx
  components/portal/BenefitEvidenceCard.tsx
  components/portal/EvidenceAnalysisPanelNew.tsx
  lib/portal/query-normalization/normalizer.ts
  lib/portal/useIntelligentSearch.ts
  tsconfig.tsbuildinfo
Due: eslint --fix, tsc --noEmit, prettier --write

Fix: Ensure Market Signals data is displayed
  app/api/portal/recommend/route.ts
  app/portal/results/page.tsx
Due: eslint --fix, tsc --noEmit, prettier --write

Fix: Add programmatic translation for "yodo" to "iodine"
  lib/services/abbreviation-expander.ts
Due: eslint --fix, tsc --noEmit, prettier --write

Perf: Increase LLM timeout to improve search reliability
  lib/services/abbreviation-expander.ts
Due: eslint --fix, tsc --noEmit, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  tsc --noEmit: any of: *.{ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,json,css,md}
