Repository latisnere77/SuplementIA: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, tsc --noEmit, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "tsc --noEmit"
  ],
  "*.{js,jsx,ts,tsx,json,css,md}": [
    "prettier --write"
  ]
}

fix: Change search button type from 'button' to 'submit'
  app/portal/page.tsx
Due: eslint --fix, tsc --noEmit, prettier --write

perf: Reduce studies limit from 5 to 3 to prevent timeout
  app/api/portal/enrich-v2/route.ts
Due: eslint --fix, tsc --noEmit, prettier --write

fix: Add missing 'supplement' parameter to results URL
  app/portal/page.tsx
Due: eslint --fix, tsc --noEmit, prettier --write

fix: remove preventDefault from search form to enable Enter key and button clicks
  app/portal/page.tsx
Due: eslint --fix, tsc --noEmit, prettier --write

fix: restructure form inside Combobox to enable Enter and button submit
  app/portal/page.tsx
Due: eslint --fix, tsc --noEmit, prettier --write

fix: use full enrich endpoint with LLM expansion + fix TS error
  app/api/portal/recommend/route.ts
  app/portal/results/page.tsx
  tsconfig.tsbuildinfo
Due: eslint --fix, tsc --noEmit, prettier --write

feat: add LLM query expansion to enrich-v2 for unknown supplements
  app/api/portal/enrich-v2/route.ts
  app/api/portal/expand-query/route.ts
  app/api/portal/recommend/route.ts
  tsconfig.tsbuildinfo
Due: eslint --fix, tsc --noEmit, prettier --write

fix: add fallback to 'q' parameter when 'supplement' is missing + fix TS error
  app/api/portal/recommend/route.ts
  app/portal/results/page.tsx
  scripts/diagnose-niacina.ts
  tsconfig.tsbuildinfo
Due: eslint --fix, tsc --noEmit, prettier --write

feat: implement enrichment-status endpoint for async job polling
  app/api/portal/enrichment-status/[jobId]/route.ts
  tsconfig.tsbuildinfo
Due: eslint --fix, tsc --noEmit, prettier --write

fix: remove setInterval from serverless function + disable autofix on type cast
  app/api/portal/enrichment-status/[jobId]/route.ts
  app/portal/results/page.tsx
  tsconfig.tsbuildinfo
Due: eslint --fix, tsc --noEmit, prettier --write

fix: resolve Next.js route slug conflict and build errors
  app/api/portal/enrichment-status/[id]/route.ts
  app/api/portal/enrichment-status/[jobId]/route.ts
  app/portal/results/page.tsx
  lib/portal/job-store.ts
  tsconfig.tsbuildinfo
Due: eslint --fix, tsc --noEmit, prettier --write

fix: generate recommendationId when missing (root cause of 65% failure)
  app/portal/results/page.tsx
  tsconfig.tsbuildinfo
Due: eslint --fix, tsc --noEmit, prettier --write

fix: Add Echinacea (Equinácea) to query normalizer
  lib/portal/query-normalization/normalizer.ts
Due: eslint --fix, tsc --noEmit, prettier --write

docs: Root cause analysis and cleanup plan for intelligent search
  .kiro/specs/intelligent-supplement-search/CODE-CLEANUP-PLAN.md
  .kiro/specs/intelligent-supplement-search/INTEGRATION-PLAN.md
  .kiro/specs/intelligent-supplement-search/ROOT-CAUSE-ANALYSIS.md
Due: prettier --write

feat: Connect frontend to intelligent search system
  .env.example
  app/api/portal/search/route.test.ts
  app/api/portal/search/route.ts
  lib/portal/INTELLIGENT_SEARCH_USAGE.md
  lib/portal/query-normalization/normalizer.ts
  lib/portal/useIntelligentSearch.ts
  tsconfig.tsbuildinfo
Due: eslint --fix, tsc --noEmit, prettier --write

docs: Implementation complete summary
  .kiro/specs/intelligent-supplement-search/IMPLEMENTATION-COMPLETE.md
Due: prettier --write

fix: Simplify search API tests for Jest compatibility
  app/api/portal/search/route.test.ts
Due: eslint --fix, tsc --noEmit, prettier --write

feat: integrate intelligent search in results page
  app/portal/results/page.tsx
  lib/portal/supplement-search.ts
Due: eslint --fix, tsc --noEmit, prettier --write

fix: Sincronizar IDs de búsqueda (rec_* → job_*) para resolver errores 404
  .kiro/specs/search-404-fix/EXECUTIVE-SUMMARY.md
  .kiro/specs/search-404-fix/FINAL-ANALYSIS.md
  .kiro/specs/search-404-fix/FIX-PLAN.md
  .kiro/specs/search-404-fix/IMPLEMENTATION-SUMMARY.md
  .kiro/specs/search-404-fix/OBSERVABILITY-CHECKLIST.md
  .kiro/specs/search-404-fix/ROOT-CAUSE-ANALYSIS.md
  .kiro/specs/search-404-fix/TRACEABILITY-ANALYSIS.md
  .kiro/specs/search-404-fix/TRACEABILITY-COMPLETE.md
  app/api/portal/quiz/route.ts
  app/portal/results/page.tsx
  scripts/deploy-search-fix.sh
Due: eslint --fix, tsc --noEmit, prettier --write

fix: use consistent jobId for async polling
  .kiro/settings/mcp.json
  app/api/portal/quiz/route.ts
  tsconfig.tsbuildinfo
Due: eslint --fix, tsc --noEmit, prettier --write

fix: remove duplicate job creation, let recommend endpoint handle it
  .kiro/settings/mcp.json
  app/api/portal/quiz/route.ts
  tsconfig.tsbuildinfo
Due: eslint --fix, tsc --noEmit, prettier --write

fix: add detailed logging for search debugging
  .kiro/specs/search-404-fix/DEBUG-INSTRUCTIONS.md
  .kiro/specs/search-404-fix/NETWORK-ERROR-ANALYSIS.md
  .kiro/specs/search-404-fix/VALIDATION-SUMMARY.md
  app/portal/page.tsx
Due: eslint --fix, tsc --noEmit, prettier --write

fix: use consistent jobId instead of generating rec_* prefix
  .kiro/specs/search-404-fix/ROOT-CAUSE-FIX.md
  app/portal/results/page.tsx
Due: eslint --fix, tsc --noEmit, prettier --write

fix: resolve 404 errors in direct search flow
  .kiro/specs/search-404-fix/DEPLOYMENT-READY.md
  .kiro/specs/search-404-fix/EXECUTIVE-SUMMARY.md
  .kiro/specs/search-404-fix/FINAL-STATUS.md
  .kiro/specs/search-404-fix/FIX-PLAN.md
  .kiro/specs/search-404-fix/IMPLEMENTATION-SUMMARY.md
  .kiro/specs/search-404-fix/README.md
  .kiro/specs/search-404-fix/RESUMEN-EJECUTIVO.md
  .kiro/specs/search-404-fix/ROOT-CAUSE-ANALYSIS.md
  .kiro/specs/search-404-fix/TESTING-INSTRUCTIONS.md
  .kiro/specs/search-404-fix/USER-TESTING-GUIDE.md
  .kiro/specs/search-404-fix/VALIDATION-CHECKLIST.md
  .kiro/steering/product.md
  .kiro/steering/structure.md
  .kiro/steering/tech.md
  app/portal/results/page.tsx
  scripts/test-search-404-fix.ts
Due: eslint --fix, tsc --noEmit, prettier --write

docs: add deployment logs and completion status
  .kiro/specs/search-404-fix/DEPLOYMENT-COMPLETE.md
  .kiro/specs/search-404-fix/DEPLOYMENT-LOG.md
Due: prettier --write

fix: use absolute URL for internal fetch in enrich-async
  app/api/portal/enrich-async/route.ts
  scripts/diagnose-production-404.ts
Due: eslint --fix, tsc --noEmit, prettier --write

fix: remove AsyncEnrichmentLoader, use quiz endpoint directly
  app/portal/results/page.tsx
Due: eslint --fix, tsc --noEmit, prettier --write

test: add E2E testing scripts and validation report
  .kiro/specs/search-404-fix/E2E-TEST-REPORT.md
  scripts/e2e-search-test.sh
  scripts/test-direct-search-flow.sh
Due: prettier --write

test: add comprehensive stress testing and validation
  .kiro/specs/search-404-fix/STRESS-TEST-REPORT.md
  scripts/quick-stress-test.sh
  scripts/stress-test-production.sh
Due: prettier --write

fix: remove enrichment-status dependency, use quiz endpoint for all searches
  app/portal/results/page.tsx
Due: eslint --fix, tsc --noEmit, prettier --write

fix: remove job-store dependencies from recommend endpoint (serverless fix)
  app/api/portal/recommend/route.ts
Due: eslint --fix, tsc --noEmit, prettier --write

fix: Add Lambda URLs to vercel.json for production deployment
  vercel.json
Due: prettier --write

fix: Stop infinite POST loop by using correct polling endpoint
  app/portal/results/page.tsx
Due: eslint --fix, tsc --noEmit, prettier --write

feat: Add spec for knowledge base completion
  .kiro/specs/knowledge-base-completion/design.md
  .kiro/specs/knowledge-base-completion/requirements.md
  .kiro/specs/knowledge-base-completion/tasks.md
Due: prettier --write

feat: Add RDS Postgres pgvector setup migration
  infrastructure/check-stack-status.sh
  infrastructure/migrations/001_setup_pgvector.sql
  infrastructure/migrations/README.md
  infrastructure/migrations/run-migration.sh
  infrastructure/migrations/supplements-export.json
Due: prettier --write

test: Add property tests for pgvector setup
  .kiro/specs/knowledge-base-completion/tasks.md
  infrastructure/migrations/pgvector.test.ts
Due: eslint --fix, tsc --noEmit, prettier --write

fix: Simplify CodeBuild buildspec with bash scripts for EFS setup
  infrastructure/codebuild/buildspec-efs-setup.yml
  infrastructure/scripts/download-model.sh
  infrastructure/scripts/init-lancedb.py
Due: none
